Repository blitzy-public-samples/femtosense-voice-command-poc-q40xhu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @femtosense-lead-developer, @femtosense-tech-lead, @femtosense-shared-component-owner, @femtosense-api-lead, @femtosense-gpt-specialist, @femtosense-narakeet-specialist, @femtosense-backend-lead, @femtosense-core-backend-developer, @femtosense-frontend-lead, @femtosense-database-specialist, @femtosense-devops-lead, @femtosense-terraform-specialist, @femtosense-cicd-specialist, @femtosense-security-officer, @femtosense-tech-writer, @femtosense-community-manager, @femtosense-legal-team, @femtosense-qa-lead

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# More specific patterns take precedence over less specific ones.
# For more information, see: https://help.github.com/articles/about-code-owners/

# Default owners for everything in the repo (unless a later match takes precedence)
* @femtosense-lead-developer @femtosense-tech-lead

# Shared components
/src/shared/ @femtosense-shared-component-owner

# API-related files
/src/api/ @femtosense-api-lead
/src/api/src/gpt/ @femtosense-gpt-specialist
/src/api/src/narakeet/ @femtosense-narakeet-specialist

# Backend Python code
/src/backend/ @femtosense-backend-lead
/src/backend/src/core/ @femtosense-core-backend-developer

# Frontend CLI
/src/frontend/ @femtosense-frontend-lead

# Database and storage
/src/database/ @femtosense-database-specialist

# Infrastructure as Code
/infrastructure/ @femtosense-devops-lead
/infrastructure/terraform/ @femtosense-terraform-specialist

# CI/CD Workflows
/.github/workflows/ @femtosense-cicd-specialist

# Security-sensitive configurations
/src/shared/utils/security.ts @femtosense-security-officer
/src/backend/src/utils/security.py @femtosense-security-officer
/src/api/.env.example @femtosense-security-officer
/src/backend/.env.example @femtosense-security-officer
/src/frontend/.env.example @femtosense-security-officer

# Documentation
/*.md @femtosense-tech-writer
/CONTRIBUTING.md @femtosense-community-manager
/LICENSE @femtosense-legal-team

# Test files
/src/*/tests/ @femtosense-qa-lead

# This file itself
/.github/CODEOWNERS @femtosense-lead-developer @femtosense-tech-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/gpt/gpt-types.ts
  src/api/src/gpt/gpt-types.ts
Owners: @femtosense-gpt-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/middleware/api-key-validator.ts
  src/api/src/middleware/api-key-validator.ts
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/middleware/rate-limiter.ts
  src/api/src/middleware/rate-limiter.ts
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/middleware/request-logger.ts
  src/api/src/middleware/request-logger.ts
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/narakeet/narakeet-client.ts
  src/api/src/narakeet/narakeet-client.ts
Owners: @femtosense-narakeet-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/narakeet/narakeet-config.ts
  src/api/src/narakeet/narakeet-config.ts
Owners: @femtosense-narakeet-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/narakeet/narakeet-error-handler.ts
  src/api/src/narakeet/narakeet-error-handler.ts
Owners: @femtosense-narakeet-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/narakeet/narakeet-types.ts
  src/api/src/narakeet/narakeet-types.ts
Owners: @femtosense-narakeet-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/services/audio-generator.service.ts
  src/api/src/services/audio-generator.service.ts
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/services/variation-generator.service.ts
  src/api/src/services/variation-generator.service.ts
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/utils/api-metrics.ts
  src/api/src/utils/api-metrics.ts
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/utils/api-response-formatter.ts
  src/api/src/utils/api-response-formatter.ts
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/utils/retry-mechanism.ts
  src/api/src/utils/retry-mechanism.ts
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/tests/gpt/gpt-client.test.ts
  src/api/tests/gpt/gpt-client.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/tests/middleware/rate-limiter.test.ts
  src/api/tests/middleware/rate-limiter.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/tests/narakeet/narakeet-client.test.ts
  src/api/tests/narakeet/narakeet-client.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/tests/services/audio-generator.test.ts
  src/api/tests/services/audio-generator.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/tests/services/variation-generator.test.ts
  src/api/tests/services/variation-generator.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/tests/utils/retry-mechanism.test.ts
  src/api/tests/utils/retry-mechanism.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/.env.example
  src/backend/.env.example
Owners: @femtosense-security-officer

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/README.md
  src/backend/README.md
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/narakeet_generate_stt.py
  src/backend/narakeet_generate_stt.py
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/setup.py
  src/backend/setup.py
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/src/cli/command-line-parser.py
  src/backend/src/cli/command-line-parser.py
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/src/cli/progress-display.py
  src/backend/src/cli/progress-display.py
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/src/config/app_config.py
  src/backend/src/config/app_config.py
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/src/config/logging_config.py
  src/backend/src/config/logging_config.py
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/src/core/batch_processor.py
  src/backend/src/core/batch_processor.py
Owners: @femtosense-core-backend-developer

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/src/core/file_manager.py
  src/backend/src/core/file_manager.py
Owners: @femtosense-core-backend-developer

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/src/core/input_processor.py
  src/backend/src/core/input_processor.py
Owners: @femtosense-core-backend-developer

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/src/services/aws_service.py
  src/backend/src/services/aws_service.py
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/src/utils/audio_converter.py
  src/backend/src/utils/audio_converter.py
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/src/utils/error_handler.py
  src/backend/src/utils/error_handler.py
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/src/utils/logger.py
  src/backend/src/utils/logger.py
Owners: @femtosense-backend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/src/utils/security.py
  src/backend/src/utils/security.py
Owners: @femtosense-security-officer

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/tests/test_audio_converter.py
  src/backend/tests/test_audio_converter.py
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/tests/test_aws_service.py
  src/backend/tests/test_aws_service.py
Owners: @femtosense-qa-lead
