Repository blitzy-public-samples/femtosense-voice-command-poc-q40xhu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @femtosense-lead-developer, @femtosense-tech-lead, @femtosense-shared-component-owner, @femtosense-api-lead, @femtosense-gpt-specialist, @femtosense-narakeet-specialist, @femtosense-backend-lead, @femtosense-core-backend-developer, @femtosense-frontend-lead, @femtosense-database-specialist, @femtosense-devops-lead, @femtosense-terraform-specialist, @femtosense-cicd-specialist, @femtosense-security-officer, @femtosense-tech-writer, @femtosense-community-manager, @femtosense-legal-team, @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/tests/test_batch_processor.py
  src/backend/tests/test_batch_processor.py
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/tests/test_file_manager.py
  src/backend/tests/test_file_manager.py
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/backend/tests/test_input_processor.py
  src/backend/tests/test_input_processor.py
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/.dockerignore
  src/database/.dockerignore
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/Dockerfile
  src/database/Dockerfile
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/README.md
  src/database/README.md
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/requirements.txt
  src/database/requirements.txt
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/setup.py
  src/database/setup.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/data/language_mappings.json
  src/database/data/language_mappings.json
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/data/voice_profiles.json
  src/database/data/voice_profiles.json
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/config/storage_config.py
  src/database/src/config/storage_config.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/config/voice_registry_config.py
  src/database/src/config/voice_registry_config.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/data_access/audio_file_dao.py
  src/database/src/data_access/audio_file_dao.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/data_access/voice_command_dao.py
  src/database/src/data_access/voice_command_dao.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/file_storage/s3_storage.py
  src/database/src/file_storage/s3_storage.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/file_storage/storage_factory.py
  src/database/src/file_storage/storage_factory.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/models/audio_file.py
  src/database/src/models/audio_file.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/models/metadata.py
  src/database/src/models/metadata.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/models/voice_command.py
  src/database/src/models/voice_command.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/utils/file_validator.py
  src/database/src/utils/file_validator.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/utils/path_generator.py
  src/database/src/utils/path_generator.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/voice_registry/language_manager.py
  src/database/src/voice_registry/language_manager.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/voice_registry/voice_profile.py
  src/database/src/voice_registry/voice_profile.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/src/voice_registry/voice_registry.py
  src/database/src/voice_registry/voice_registry.py
Owners: @femtosense-database-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/tests/test_data_access.py
  src/database/tests/test_data_access.py
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/tests/test_file_storage.py
  src/database/tests/test_file_storage.py
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/tests/test_utils.py
  src/database/tests/test_utils.py
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/database/tests/test_voice_registry.py
  src/database/tests/test_voice_registry.py
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/.env.example
  src/frontend/.env.example
Owners: @femtosense-security-officer

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/.gitignore
  src/frontend/.gitignore
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/README.md
  src/frontend/README.md
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/jest.config.js
  src/frontend/jest.config.js
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/package.json
  src/frontend/package.json
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/tsconfig.json
  src/frontend/tsconfig.json
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/src/cli.ts
  src/frontend/src/cli.ts
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/src/commands/generate.ts
  src/frontend/src/commands/generate.ts
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/src/commands/help.ts
  src/frontend/src/commands/help.ts
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/src/commands/validate.ts
  src/frontend/src/commands/validate.ts
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/src/constants/cli-messages.ts
  src/frontend/src/constants/cli-messages.ts
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/src/constants/color-scheme.ts
  src/frontend/src/constants/color-scheme.ts
Owners: @femtosense-frontend-lead

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# More specific patterns take precedence over less specific ones.
# For more information, see: https://help.github.com/articles/about-code-owners/

# Default owners for everything in the repo (unless a later match takes precedence)
* @femtosense-lead-developer @femtosense-tech-lead

# Shared components
/src/shared/ @femtosense-shared-component-owner

# API-related files
/src/api/ @femtosense-api-lead
/src/api/src/gpt/ @femtosense-gpt-specialist
/src/api/src/narakeet/ @femtosense-narakeet-specialist

# Backend Python code
/src/backend/ @femtosense-backend-lead
/src/backend/src/core/ @femtosense-core-backend-developer

# Frontend CLI
/src/frontend/ @femtosense-frontend-lead

# Database and storage
/src/database/ @femtosense-database-specialist

# Infrastructure as Code
/infrastructure/ @femtosense-devops-lead
/infrastructure/terraform/ @femtosense-terraform-specialist

# CI/CD Workflows
/.github/workflows/ @femtosense-cicd-specialist

# Security-sensitive configurations
/src/shared/utils/security.ts @femtosense-security-officer
/src/backend/src/utils/security.py @femtosense-security-officer
/src/api/.env.example @femtosense-security-officer
/src/backend/.env.example @femtosense-security-officer
/src/frontend/.env.example @femtosense-security-officer

# Documentation
/*.md @femtosense-tech-writer
/CONTRIBUTING.md @femtosense-community-manager
/LICENSE @femtosense-legal-team

# Test files
/src/*/tests/ @femtosense-qa-lead

# This file itself
/.github/CODEOWNERS @femtosense-lead-developer @femtosense-tech-lead
