Repository blitzy-public-samples/femtosense-voice-command-poc-q40xhu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @femtosense-lead-developer, @femtosense-tech-lead, @femtosense-shared-component-owner, @femtosense-api-lead, @femtosense-gpt-specialist, @femtosense-narakeet-specialist, @femtosense-backend-lead, @femtosense-core-backend-developer, @femtosense-frontend-lead, @femtosense-database-specialist, @femtosense-devops-lead, @femtosense-terraform-specialist, @femtosense-cicd-specialist, @femtosense-security-officer, @femtosense-tech-writer, @femtosense-community-manager, @femtosense-legal-team, @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/src/interfaces/cli-options.interface.ts
  src/frontend/src/interfaces/cli-options.interface.ts
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/src/interfaces/progress-state.interface.ts
  src/frontend/src/interfaces/progress-state.interface.ts
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/src/utils/file-validator.ts
  src/frontend/src/utils/file-validator.ts
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/src/utils/input-processor.ts
  src/frontend/src/utils/input-processor.ts
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/src/utils/output-formatter.ts
  src/frontend/src/utils/output-formatter.ts
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/src/utils/progress-tracker.ts
  src/frontend/src/utils/progress-tracker.ts
Owners: @femtosense-frontend-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/tests/commands/generate.test.ts
  src/frontend/tests/commands/generate.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/tests/commands/validate.test.ts
  src/frontend/tests/commands/validate.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/tests/utils/file-validator.test.ts
  src/frontend/tests/utils/file-validator.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/tests/utils/input-processor.test.ts
  src/frontend/tests/utils/input-processor.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/tests/utils/output-formatter.test.ts
  src/frontend/tests/utils/output-formatter.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/frontend/tests/utils/progress-tracker.test.ts
  src/frontend/tests/utils/progress-tracker.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/README.md
  src/shared/README.md
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/config/logging-config.json
  src/shared/config/logging-config.json
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/config/voice-profiles.json
  src/shared/config/voice-profiles.json
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/constants/api-endpoints.ts
  src/shared/constants/api-endpoints.ts
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/constants/aws-config.ts
  src/shared/constants/aws-config.ts
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/constants/voice-registry.ts
  src/shared/constants/voice-registry.ts
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/errors/custom-errors.ts
  src/shared/errors/custom-errors.ts
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/interfaces/api-response.interface.ts
  src/shared/interfaces/api-response.interface.ts
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/interfaces/file-storage.interface.ts
  src/shared/interfaces/file-storage.interface.ts
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/interfaces/voice-command.interface.ts
  src/shared/interfaces/voice-command.interface.ts
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/tests/interfaces.test.ts
  src/shared/tests/interfaces.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/tests/utils.test.ts
  src/shared/tests/utils.test.ts
Owners: @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/types/intent.types.ts
  src/shared/types/intent.types.ts
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/types/language.types.ts
  src/shared/types/language.types.ts
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/utils/api-client.ts
  src/shared/utils/api-client.ts
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/utils/file-manager.ts
  src/shared/utils/file-manager.ts
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/utils/logger.ts
  src/shared/utils/logger.ts
Owners: @femtosense-shared-component-owner

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/utils/security.ts
  src/shared/utils/security.ts
Owners: @femtosense-security-officer

Add public-samples/femtosense-voice-command-poc-q40xhu/src/shared/utils/validators.ts
  src/shared/utils/validators.ts
Owners: @femtosense-shared-component-owner

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# More specific patterns take precedence over less specific ones.
# For more information, see: https://help.github.com/articles/about-code-owners/

# Default owners for everything in the repo (unless a later match takes precedence)
* @femtosense-lead-developer @femtosense-tech-lead

# Shared components
/src/shared/ @femtosense-shared-component-owner

# API-related files
/src/api/ @femtosense-api-lead
/src/api/src/gpt/ @femtosense-gpt-specialist
/src/api/src/narakeet/ @femtosense-narakeet-specialist

# Backend Python code
/src/backend/ @femtosense-backend-lead
/src/backend/src/core/ @femtosense-core-backend-developer

# Frontend CLI
/src/frontend/ @femtosense-frontend-lead

# Database and storage
/src/database/ @femtosense-database-specialist

# Infrastructure as Code
/infrastructure/ @femtosense-devops-lead
/infrastructure/terraform/ @femtosense-terraform-specialist

# CI/CD Workflows
/.github/workflows/ @femtosense-cicd-specialist

# Security-sensitive configurations
/src/shared/utils/security.ts @femtosense-security-officer
/src/backend/src/utils/security.py @femtosense-security-officer
/src/api/.env.example @femtosense-security-officer
/src/backend/.env.example @femtosense-security-officer
/src/frontend/.env.example @femtosense-security-officer

# Documentation
/*.md @femtosense-tech-writer
/CONTRIBUTING.md @femtosense-community-manager
/LICENSE @femtosense-legal-team

# Test files
/src/*/tests/ @femtosense-qa-lead

# This file itself
/.github/CODEOWNERS @femtosense-lead-developer @femtosense-tech-lead
