Repository blitzy-public-samples/femtosense-voice-command-poc-q40xhu, changes with the owners that .github/CODEOWNERS names for each.
All owners: @femtosense-lead-developer, @femtosense-tech-lead, @femtosense-shared-component-owner, @femtosense-api-lead, @femtosense-gpt-specialist, @femtosense-narakeet-specialist, @femtosense-backend-lead, @femtosense-core-backend-developer, @femtosense-frontend-lead, @femtosense-database-specialist, @femtosense-devops-lead, @femtosense-terraform-specialist, @femtosense-cicd-specialist, @femtosense-security-officer, @femtosense-tech-writer, @femtosense-community-manager, @femtosense-legal-team, @femtosense-qa-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @femtosense-lead-developer, @femtosense-tech-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @femtosense-lead-developer, @femtosense-tech-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @femtosense-lead-developer, @femtosense-tech-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/.github/workflows/api-ci.yml
  .github/workflows/api-ci.yml
Owners: @femtosense-cicd-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @femtosense-cicd-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/.github/workflows/database-ci.yml
  .github/workflows/database-ci.yml
Owners: @femtosense-cicd-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @femtosense-cicd-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/.github/workflows/shared-ci.yml
  .github/workflows/shared-ci.yml
Owners: @femtosense-cicd-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @femtosense-lead-developer, @femtosense-tech-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/documentation/Software Requirements Specifications (SRS).md
  documentation/Software Requirements Specifications (SRS).md
Owners: @femtosense-lead-developer, @femtosense-tech-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @femtosense-lead-developer, @femtosense-tech-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/docker-compose.yml
  infrastructure/docker-compose.yml
Owners: @femtosense-devops-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/prometheus.yml
  infrastructure/prometheus.yml
Owners: @femtosense-devops-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/grafana/dashboards/api-metrics.json
  infrastructure/grafana/dashboards/api-metrics.json
Owners: @femtosense-devops-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/grafana/dashboards/system-metrics.json
  infrastructure/grafana/dashboards/system-metrics.json
Owners: @femtosense-devops-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/scripts/build.sh
  infrastructure/scripts/build.sh
Owners: @femtosense-devops-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @femtosense-devops-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/scripts/test.sh
  infrastructure/scripts/test.sh
Owners: @femtosense-devops-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @femtosense-terraform-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @femtosense-terraform-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @femtosense-terraform-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/terraform/modules/iam/main.tf
  infrastructure/terraform/modules/iam/main.tf
Owners: @femtosense-terraform-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/terraform/modules/iam/outputs.tf
  infrastructure/terraform/modules/iam/outputs.tf
Owners: @femtosense-terraform-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/terraform/modules/iam/variables.tf
  infrastructure/terraform/modules/iam/variables.tf
Owners: @femtosense-terraform-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/terraform/modules/lambda/main.tf
  infrastructure/terraform/modules/lambda/main.tf
Owners: @femtosense-terraform-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/terraform/modules/lambda/outputs.tf
  infrastructure/terraform/modules/lambda/outputs.tf
Owners: @femtosense-terraform-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/terraform/modules/lambda/variables.tf
  infrastructure/terraform/modules/lambda/variables.tf
Owners: @femtosense-terraform-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @femtosense-terraform-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @femtosense-terraform-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @femtosense-terraform-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/.env.example
  src/api/.env.example
Owners: @femtosense-security-officer

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/.gitignore
  src/api/.gitignore
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/Dockerfile
  src/api/Dockerfile
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/README.md
  src/api/README.md
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/jest.config.js
  src/api/jest.config.js
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/package.json
  src/api/package.json
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/tsconfig.json
  src/api/tsconfig.json
Owners: @femtosense-api-lead

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/gpt/gpt-client.ts
  src/api/src/gpt/gpt-client.ts
Owners: @femtosense-gpt-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/gpt/gpt-config.ts
  src/api/src/gpt/gpt-config.ts
Owners: @femtosense-gpt-specialist

Add public-samples/femtosense-voice-command-poc-q40xhu/src/api/src/gpt/gpt-error-handler.ts
  src/api/src/gpt/gpt-error-handler.ts
Owners: @femtosense-gpt-specialist

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# More specific patterns take precedence over less specific ones.
# For more information, see: https://help.github.com/articles/about-code-owners/

# Default owners for everything in the repo (unless a later match takes precedence)
* @femtosense-lead-developer @femtosense-tech-lead

# Shared components
/src/shared/ @femtosense-shared-component-owner

# API-related files
/src/api/ @femtosense-api-lead
/src/api/src/gpt/ @femtosense-gpt-specialist
/src/api/src/narakeet/ @femtosense-narakeet-specialist

# Backend Python code
/src/backend/ @femtosense-backend-lead
/src/backend/src/core/ @femtosense-core-backend-developer

# Frontend CLI
/src/frontend/ @femtosense-frontend-lead

# Database and storage
/src/database/ @femtosense-database-specialist

# Infrastructure as Code
/infrastructure/ @femtosense-devops-lead
/infrastructure/terraform/ @femtosense-terraform-specialist

# CI/CD Workflows
/.github/workflows/ @femtosense-cicd-specialist

# Security-sensitive configurations
/src/shared/utils/security.ts @femtosense-security-officer
/src/backend/src/utils/security.py @femtosense-security-officer
/src/api/.env.example @femtosense-security-officer
/src/backend/.env.example @femtosense-security-officer
/src/frontend/.env.example @femtosense-security-officer

# Documentation
/*.md @femtosense-tech-writer
/CONTRIBUTING.md @femtosense-community-manager
/LICENSE @femtosense-legal-team

# Test files
/src/*/tests/ @femtosense-qa-lead

# This file itself
/.github/CODEOWNERS @femtosense-lead-developer @femtosense-tech-lead
